body {
  min-width: 150px;
}

#discountInfo {
  font-size: 14px;
  color: green;
}

#gotoDkbCashback {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px;
  background-color: lightgray;
}