{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true,
    "webextensions": true,
    "jest": true,
    "node": true,
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "quotes": ["error", "single"]
  }
}